[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
dash = "==1.14.0"
jupyterlab = "*"
jupyterthemes = "*"
pipenv-to-requirements = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
